.box{
  background-image: url('./assets/cc.png');
  background-repeat: no-repeat;
}
.box-top{
  background-image: url('../public/bb.png');
  background-repeat: no-repeat;

}

.base-photo {
  height: 600px;
  width: 400px;
  margin: 10;
  box-sizing: border-box;
  background: url('./assets/ccc.png');
  background-repeat: no-repeat;

  
}
